```css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background: #0b0f19;
    color: white;
}


/* Cabeçalho */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
    background: #111827;
}


.logo h1 {
    color: #00e5ff;
}


nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
}


nav a:hover {
    color: #00e5ff;
}



/* Área principal */

.hero {
    text-align: center;
    padding: 100px 20px;
    background:
    linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.8)
    );
}


.hero h2 {
    font-size: 42px;
    margin-bottom: 20px;
}


.hero p {
    font-size: 20px;
    color: #cccccc;
    margin-bottom: 30px;
}


button {
    background: #00e5ff;
    border: none;
    padding: 15px 35px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}



/* Cards */

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 60px 8%;
}


.card {
    background: #1f2937;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    transition: 0.3s;
}


.card:hover {
    transform: translateY(-10px);
}


.card h3 {
    color: #00e5ff;
    margin-bottom: 15px;
}


.card p {
    color: #dddddd;
}



/* Rodapé */

footer {
    text-align: center;
    padding: 25px;
    background: #111827;
    color: #aaa;
}



@media(max-width: 800px){

    header {
        flex-direction: column;
        gap: 20px;
    }


    .cards {
        flex-direction: column;
        align-items: center;
    }


    .hero h2 {
        font-size: 30px;
    }

}
```
